/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

button,
summary {
	cursor: pointer;
}

ul,
ol {
	list-style: none;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	background-color: #9f260a;
}

body {
	scroll-behavior: smooth;
	min-height: 100vh;
}

/****************/
/* JOUW STYLING */
/****************/
/* jouw code */
/* header */
/* de afbeelding moet alleen in de homepage*/
header {
	overflow: hidden;
	position: relative;
	text-align: center;
}

.homepage header {
	background-image: url("../images/headerimg.jpg");
	background-position: top;
	height: 200%;
	height: 80vh;
	position: relative;
}

header section:first-of-type {
	display: flex;
}

header section button {
	border: none;
	width: 3em;
	aspect-ratio: 1/1;
	place-items: center;
	display: grid;
	background-color: transparent;
}

header section button span {
	display: inline-block;
	width: 1em;
	height: .25em;
	background-color: black;
	grid-column-start: 1;
	grid-row-start: 1;
	transition: .3s;
}

header section>a {
	display: inline-flex;
	padding: 0.538em 1.077em;
	justify-content: center;
	background: #2d6654;
	color: #ffecc5;
	font-size: 18px;
	font-weight: 400;
	border-radius: 0;
	border: 0;
	border-bottom: 4px solid rgba(0, 0, 0, .25);
	margin-top: 1em;
	display: inline-flex;
	justify-content: space-around;
	align-items: end;
}



header a:hover {
	background-color: #555;
}

main {
	display: flexbox;
	justify-content: right;
}

main section:nth-of-type(1) {
	background-color: #9f260a;
	color: #e4d4bc;
}

body {
	font-family: "Lato", sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: #ffeac2;
	margin: 0em;
}

link {
	border: 1em #2c6854;
	background-color: white;
}

/* menu */
/* voordat er op het hamburger menu is geklikt */
nav {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	transform: translateY(-100%);
	color: #555;
	display: block;
	padding: 10px 0;
	border-top: 1px solid #eee;
	color: #e4d4bc;
}

header nav {
	display: grid;
	justify-content: start;
	column-gap: 1em;
}

/* menu open geklikt */
nav.menuOpen {
	transform: translateX(0);
	transition: 1s;
	background-color: #2c6854;
	color: #e4d4bc;
	margin-top: 10em;
	height: 80vh;
}

nav.menuOpen a {
	position: relative;
	color: #555;
	display: block;
	padding: 10px 0;
	border-top: 1px solid #eee;
	color: #e4d4bc;
}

/* wanneer menu weer weggeklikt is */
nav {
	transform: translateX(100);
	background-color: #2c6854;
	transition: 1s;
}


header section button span {
	position: absolute;
	width: 1em;
	height: 2px;
	background-color: Black;
	transition: .5s cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

header section button span:first-of-type {
	/* het eerste streepje vanuit het midden een beetje omhoog */
	transform: translatey(-5px);
}

header section button span:last-of-type {
	/* het laatste streepje vanuit het midden een beetje omlaag */
	transform: translatey(5px);
}

/* met JS wordt de class 'menuOpen' aan de body toegevoegd */
/* die kan gebruikt worden om de button aan te passen */

body.menuOpen header section button span {
	/* alle streepjes worden rood */
	background-color: Crimson;
	/* zodat de beweging op de heenweg .5 seconde duurt */
	/* met ease-out begint de beweging snel en eindigt langzaam */
	transition: .5s ease-out;
}

body.menuOpen header section button span:first-of-type {
	/* het eerste streepje gaat terug naar het midden */
	/* en draait ondertussen 45 graden */
	transform: translatey(0) rotate(45deg);
}

body.menuOpen header section button span:nth-of-type(2) {
	/* het tweede streepje wordt doorzichtig */
	opacity: 0;
}

body.menuOpen header section button span:last-of-type {
	/* het laatste streepje gaat terug naar het midden */
	/* en draait ondertussen -45 graden */
	transform: translatey(0) rotate(-45deg);
}

/* main */
section ul li {
	background-color: #2d6654;
	color: #ffecc5;
	border-radius: 0;
	margin-right: 2em;
	margin-left: 2em;
}

.homepage section ul li {
	background-color: #e4d4bc;
	color: #2d6654;

}

main section ul li {
	display: flex;
	flex-direction: column;
	background-color: transparent;}

footer {
	color: #ffecc5;
	background-color: #2c6854;
	padding: 1em 0em;
}

footer section {
	margin: 0em 2em;
}

link {
	background-color: white;
}

main {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(23.61111111111111em, 1fr));
	justify-content: start;
	max-height: 50%;
}

@media screen and (min-width: 600px) {

	.homepage main section ul {
		display: inline-flex;
	}
}



main section img {
	width: 100%;
}

main section ul li {
	margin: 1em;
	padding: 1em;
}

main section ul {
	display: grid;
}

.homepage main section:nth-child(1) {
	margin: 0 2em;
}

.homepage main section:nth-child(3) {
	margin: 0 2em;
}

.MenuPage main section {
	background-color: black;
}


.MenuPage main section {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(23.61111111111111em, 1fr));
	justify-content: start;
}


.MenuPage main section ul li a {
	display: flex;
	flex-direction: column;
	background-color:transparent;
	color: #ffecc5;
	font-size: 1.3em;
}


.MenuPage main section h3 {
	background-color: #2c6854;
	color: #e4d4bc;
	position: absolute;
	padding: 1em 1em;
}



.MenuPage main section:nth-of-type(2) {
	background-image: url("/images/Lekkerste-appeltaart-van-Amersfoort.jpeg");
	height: 20em;
	background-position: bottom;
	background-size: cover;
}



.MenuPage main section:nth-of-type(3) {
	background-image: url("/images/eten-drinken.jpg");
	height: 20em;
	background-position: bottom;
	background-size: cover;
}

.MenuPage main section h2 {
	position: relative;
	left: 10%;

}

.MenuPage footer {
	line-height: 1em;
	width: 100%;
}